{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{# {% from "core/plugin.html" import render_plugin %} #}

{% macro render_plugin(plugin) %}
  <div class="plugin">
	  <img  class ='plugin__thumb' src="{ plugin.img_url }">
	  <div class="plugin__content">
	    <h2>{{ plugin.name }}</h2>
	    <p class="plugin__description">
	      {{ plugin.description }} 
	    </p>
	    <div class="plugin-upvotes">{{ plugin.votes }} votes</div>
	  </div>
	</div>
{% endmacro %}

{% block content %}
	<form class="search">
		<input type="text" name="search" class="search__input" />
	</form>

	{% for plugin, count in plugins %}
	    <div class="plugin">
	  <img  class ='plugin__thumb' src="{{ plugin.img_url }}">
	  <div class="plugin__content">
	    <h2>{{ plugin.name }}</h2>
	    <p class="plugin__description">
	      {{ plugin.description }} 
	    </p>
	    <div class="plugin-upvotes">{{ count or 0 }} votes</div>
	  </div>
	</div>
	{% endfor %}

{% endblock %}
